.form-formatting {
  width: 50%; 
  padding-top: 2%;
  padding: 3%;
  background-color: white;
  border-radius: 1%; 
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); 
  margin-top: 5%;
}

.larger-label {
  width: 75%;
  font-size: 1.5em; 
}

.register-form-header {
    padding-bottom: 2%;
}

.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .remember-me {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 1%;
  }

  .container {
    margin: 0 !important;
  }

  .cart-table {
     width: 50rem;
     padding-left: 2%;
     padding-top: 1%;
     margin-right: 10px;
  }

  .table-spacing {
    padding-left: 0%;
  }

  th.image-formatting {
    width: 15%; 
}

.main-container {
  width: 70%;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

.table-input {
  width: 40%; 
  padding-left: 1%;
  padding-right: 2%;
}

.payment-info-header {
  padding-top: 2%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.col-md-8 {
  padding-right: 15px;
}

.cart-table {
  margin-right: 10px; 
  width: 90%;
}

.btn-wide {
  width: 80%;
}

@media (max-width: 767px) {
  .checkout-table th, .checkout-table td {
    padding: 5px; 
    margin: 0;
    text-align: center; 
  }

  .checkout-table {
    /* table-layout: auto; */
    table-layout: fixed;
    width: 99% !important;
    /* width: 150vw !important; */
    font-size: 14px;
  }

  .checkout-table td, .checkout-table th {
    word-wrap: break-word;
  }

  .button-format{
    padding-left: 13%;
    padding-bottom: 5%;
  }
  
  .form-label-wider {
    width: 260% !important;
  }
  
  .column-narrow {
    width: 40%; 
    padding-right: 5% !important; 
    padding-left: 5% !important; 
  }
  
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .flex-container{
    display: flex;
    justify-content: space-between;
  }

  .image-formatting {
    width: 150%;
    height: 45%;
  }

  .gray-box {
    width: 500px;
    padding-top: 2%;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  
    margin: 0 auto;
    position: relative;
    top: 50%;
  
    margin-top: 5%;
  }

}

@media (min-width: 768px) {
    .button-format{
      padding-left: 13%;
      padding-bottom: 5%;
    }
    
    .form-label-wider {
      width: 260% !important;
    }
    
    .column-narrow {
      width: 40%; 
      padding-right: 5% !important; 
      padding-left: 5% !important; 
    }
    
    .input-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    
    .flex-container{
      display: flex;
      gap: 90px !important; 
      justify-content: flex-start;
      padding-left: 7px;
    }

    .image-formatting {
      width: 120%;
      height: 45%;
    }

    .gray-box {
      width: 500px;
      padding-top: 2%;
      padding: 30px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    
      margin: 0 auto;
      position: relative;
      top: 50%;
    
      margin-top: 5%;
    }

    #state, #zipcode, #exp, #cvv, #phone-number, #email-address {
      width: 125%; 
    }

    .input-field{
      padding-left: 10px;
    }

}

