.form-formatting {
  width: 50%; 
  padding-top: 2%;
  padding: 3%;
  border-radius: 1%; 
  box-shadow: 0px 0px 1% 0px rgba(0,0,0,0.1); 
  margin-top: 5%;
}

.larger-label {
  width: 75%;
  font-size: 1.5em; 
}

.register-form-header {
    padding-bottom: 2%;
}

.container {
  margin-left: 0 !important;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .remember-me {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 1%;
  }

  /* .shopping-cart-header {
    padding-top: 2%;
    padding-left: 14%;
  } */

  .cart-table {
    padding-top: 2%;
    padding: 30px;
    background-color: white;
    border-radius: 8px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    width: 90%;
  }

  .image-formatting {
    width: 120%;
    height: 45%;
    padding-right: -10%;
  }

  .table-spacing {
    padding-left: 0%;
  }

  th.image-formatting {
    width: 15%; /* Adjust this value to suit your needs */
}

.main-container {
  width: 70%; /* Adjust as needed */
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.table-input {
  width: 40%; 
  padding-left: 1%;
  padding-right: 2%;
}

.payment-info-header {
  padding-top: 2%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.gray-box {
  width: 500px;
  padding-top: 2%;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

  margin: 0 auto;
  position: relative;
  top: 50%;

  margin-top: 5%;
}

.btn-wide {
  width: 80%;
}

.button-format{
  padding-left: 13%;
  padding-bottom: 5%;
}

.form-label-wider {
  width: 260% !important;
}

.column-narrow {
  width: 40%; /* Adjust as needed */
  padding-right: 5% !important; 
  padding-left: 5% !important; 
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-item{
  /* flex: 1; */
}
