.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1em;
}

.breed {
    color: #212529
}