body {
    font-family: Arial, sans-serif;
    padding: 1em !important;
    background-color: #f0f0f0 !important;
}

.heading {
    background-color: #f0f0f0 !important;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin: 1em 0;
}

h3 {
    font-size: 1.5em;
    margin: 1em 0;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    color: #666;
    margin-bottom: 1em;
}